@font-face {
  font-family: Kanit;
  font-weight: normal;
  src: url('assets/fonts/Kanit/Kanit-Thin.ttf');
}

@font-face {
  font-family: Kanit;
  font-weight: bold;
  src: url('assets/fonts/Kanit/Kanit-Regular.ttf');
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fade {
  transition: visibility .5s, opacity .5s;
}

@mixin backing {
  // backdrop-filter: blur(.25rem) brightness(200%);
  background: $white;
}

$red: rgb(133, 9, 10);
$white: rgb(255, 255, 255);
$gray: rgb(40, 40, 40);
$black: rgb(0, 0, 0);
$mobileWidth: 480px;

@mixin buton-style {
  padding: .5rem 1rem;
  border: none;
  margin: .5rem;
  background: $red;
  border-radius: .25rem;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background .25s, opacity .25s;
  user-select: none;
  white-space: nowrap;
}

body, html {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: $gray;
  font-size: 16px;
  letter-spacing: -.025rem;
  overscroll-behavior-x: none;
}

body, html, button, input, textarea {
  font-family: 'Kanit', sans-serif;
}

@mixin full {
  position: absolute;
  inset: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.app {

  .instructions {
    @include full;

    outline: 1px solid red;
    // @include center;
    pointer-events: none;
    p {
      top: 25% !important;
      width: calc(100% - 3rem);

      color: white;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      @include middle;
      @include fade;

      &:nth-child(1) {
        &:after {
          display: block;
          content: '↓';
        }
      }

      &:nth-child(2) {
        &:before {
          display: block;
          content: '↑';
        }
      }

      &:nth-child(3) {
        &:before {
          display: block;
          content: '↑';
        }
      }
    }
  }

  .can {
    padding: 0 1.25rem 0 .5rem;
    background-image: url('assets/images/can.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $white;
    text-transform: uppercase;
  }

  a {
    color: $red;
    font-weight: bold;
  }
  button {
    @include buton-style;

    &:hover {
      background: lighten($red, 5%);
    }

    &:active {
      background: darken($red, 5%);
    }

    &.secondary {
      padding: calc(.5rem - 3px) calc(1rem - 3px);
      border: 3px solid $red;
      background: $white;
      color: $red;

      &:hover {
        background: darken($white, 5%);
      }
    }
  }

  .menu {
    @include fade;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: calc(100% - 2rem);
    justify-content: center;
    margin: 1rem;

    & > *.hidden {
      display: none;
    }
  }

  .views {
    @include full;
    pointer-events: none;

    & > * {
      @include full;
      @include fade;
    }

    &-share {
      &-platforms {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        & > a {
          padding-left: 2.5rem;
          margin: 0 0 .75rem;
          background-repeat: no-repeat;
          background-size: contain;
        }
        &-twitter { background-image: url('assets/images/share-twitter.svg'); }
        &-facebook { background-image: url('assets/images/share-facebook.svg'); }
        &-linkedin { background-image: url('assets/images/share-linkedin.svg'); }
      }

      &-animation {
        margin-top: .5rem;
        img {
          display: block !important;
          width: 100%;
          filter: none !important;
        }
      }

      &-download {
        @include buton-style;
        display: block;
        width: calc(100% - 2rem) !important;
        text-align: center;
        text-decoration: none;
      }
    }

    &-signature, &-start, &-share {

      .main {
        // vertically center when window is tall enough:
        &:before, &:after {
          margin: auto;
          content: '';
        }
        position: absolute;
        z-index: 1;
        left: calc(33% - 10rem);
        display: flex;
        width: 20rem;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-top: .5rem;
        padding-bottom: .5rem;
        background: rgba(0, 0, 0, .5);
        overflow-x: hidden;
        overflow-y: auto;
        pointer-events: all;

        & > * {
          margin: 1rem;
          color: white;
        }

        .column, .row {
          margin: 0;
        }
        .row {
          margin-bottom: .5rem;
        }
        .column {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
        .row, button {
          flex-grow: 1;
        }

        input, textarea {
          width: calc(100% - 3rem - 6px);
          padding: .5rem;
          border: 3px solid $white;
          margin: 0 1rem;
          background: $white;
          border-radius: .5rem;
          color: $red;
          font-size: 1rem;
          font-weight: bold;
          outline: none;
          resize: none;
          transition: border .5s;

          &:invalid {
            border: 3px solid $red;
          }

          &:placeholder-shown {
            border: 3px solid $white !important;
          }

          &::placeholder {
            color: transparentize($red, .75);
            text-shadow: none;
          }
        }

        button {
          margin: 0 1rem .5rem;
        }

        label {
          margin: 0 1rem;
          font-weight: bold;
          opacity: .5;
        }

        canvas, img {
          width: 100%;
          border-radius: .5rem;
          filter: invert(1);
        }

        img {
          display: none;
        }

        textarea {
          overflow: hidden;
          height: 4rem;
          min-height: 4rem;
          margin-bottom: .5rem;
        }

        .disclaimer {
          font-size: .75rem;
        }

        p {
          margin: .25rem 0 0;
        }

        .pad {
          position: relative;
          margin-top: 0;

          canvas {
            // transition: border .5s, width .5s, height .5s;
          }

          canvas.show-invalid {
            width: calc(100% - 6px);
            height: 8.5rem;
            border: 3px solid invert($red);
          }

          &-reset {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0;
            width: 2rem;
            height: 2rem;
            padding: 0;
            margin: .5rem;
            background-color: transparent;
            background-image: url('assets/images/reset.svg');
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }

      &.readonly {
        form {
          input, textarea {
            margin-bottom: .5rem;
            pointer-events: none;
          }
          label, canvas, button:not(.return) {
            display: none;
          }

          img {
            display: block;
          }

          button.secondary {
            background: $red;
            color: $white;
          }

          .row {
            margin-bottom: 0;
          }
        }
      }
    }

    &-signature {
      .main {
        button.disabled {
          pointer-events: all;
        }

        &.show-invalid {
          input, textarea {
            &:invalid {
              border: 3px solid $red !important;
            }
          }
        }
      }
    }

    &-start, &-share {
      .wrap {
        padding: 1rem;
        background: $white;
        border-radius: .25rem;

        h1 {
          margin-top: 0;
          color: $red;
        }
        p {
          margin-bottom: .75rem;
          color: $black;
          font-weight: bold;
        }
        button, a {
          width: 100%;
          margin: 1rem 0 0;
        }
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .33) 66%);
    color: white;
    pointer-events: none;
    &-mute, &-credit {
      pointer-events: all;
    }

    &-mute {
      width: 1.5rem;
      height: 1.5rem;
      margin: 1rem;
      background-color: transparent;
      background-image: url('assets/images/volume-on.svg');
      background-size: contain;
      cursor: pointer;

      &.muted {
        background-image: url('assets/images/volume-off.svg');
      }
    }
    &-credit {
      margin: 1rem;
      a { color: white; }
    }
  }

  .preloader {
    position: fixed;
    z-index: 2;
    background-color: black;
    inset: 0;
    @include center;
    @include fade;

    &-bar {
      position: relative;
      width: 20rem;
      height: 2rem;

      &:before {
        position: absolute;
        z-index: 3;
        border: 2px solid $red;
        border-radius: .5rem;
        content: '';
        inset: -6px;
      }

      &-progress {
        position: absolute;
        z-index: 4;
        height: 100%;
        background-color: $red;
        border-radius: .25rem;
        transition: width 1s;
      }
    }
  }

  .scene, .markers {
    transition: opacity 1s, visibility 1s;
  }

}

// narrow and mobile
@media (max-width: $mobileWidth) {
  body, html {
    font-size: 12px;
  }
  .app {

    .menu {
      & > button {
        // padding: .25rem;
        margin: .5rem .25rem;
      }
    }

    .views-signature, .views-start, .views-share {
      left: 0;
      width: 100%;
      // height: 50%;
      height: min-content;

      .main {
        left: 0;
        width: 100%;
        height: min-content;
        &:before, &:after {
          content: none;
        }

        .column {
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: nowrap;

          &.first  {
            flex-direction: row;
          }
        }
        .pad {
          margin-bottom: .5rem;
          canvas.show-invalid {
            height: 45vw;
            // outline: 10px solid white;
          }
        }
        input, textarea {
          padding: .25rem .5rem;
        }

        .disclaimer {
          margin: 0 1rem !important;
        }
      }

    }

    .views-signature {
      form {
        button, input {
          display: inline-block;
          width: calc(50% - 3rem);
        }
        & > *:last-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// short
@media (max-height: 620px) {
  body, html {
    font-size: 12px;
  }
  .app .views-signature {
    form {
      // justify-content: flex-start;
    }
    &-backing {
      // width: 21rem;
      // margin-left: calc(33% + .5rem);
    }
  }
}

.markers {
  @include full;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 3rem), 0% calc(100% - 3rem));
  pointer-events: none;

  &-marker {
    position: absolute;
    color: white;
    white-space: nowrap;
  }
}

.grecaptcha-badge {
  display: none !important;
}

.test {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
